header{
  background-color: $negro;
  padding: 0 10vh;
  position: relative;
  @include flex (row, flex-start, center);
}

.logo{
  width: 75px;
  &-figura{
    margin: 0px;
    padding: 10px;
    @include flex (column, flex-start, center);
    text-align: center;
    width: fit-content;
  }
  &-nombre{
    color: white;
    font-weight: bold;
    margin: 10px 0 5px 0;
    &__span{
      color: $rojo;
    }
  }
}

.navbar{
  @include flex (row, flex-start, center);
  margin: 0;
  width: min-content;
}


.lista{
  @include flex (row, space-between, stretch);
  min-width: 200px;
  list-style: none;

  a{
    color: #ed1c24;    
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    transition: 0.15s;

    &:hover{
      color: #231f20;
      background-color: white;    
    }
  }
}

.mochila{
  &-button{
    background-color: $negro;
    border: #ed1c24 3px solid;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    cursor: pointer;
  }
}

.cart-widget{
  position: absolute;
  right: 10vh;

  span{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $rojo;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
  }
}